<section id="about" class="about">
    <div class="container">
        <div class="about__body">
            <h2 class="about__body-title">
                О компании
            </h2>
            <div class="about__body-block">
                <img src="../images/dist/about.png" alt="">
                <div class="about__body-block-items">
                    <div class="about__body-block-items-item">
                        <span>Кто мы:</span>
                        <p>
                            Мы — команда экспертов, специализирующаяся на разработке и внедрении передовых стратегий для
                            развития бизнеса. Наша цель — обеспечить вашим проектам устойчивый рост и конкурентное
                            преимущество, а соответственно и увеличение прибыли.
                        </p>
                    </div>
                    <div class="about__body-block-items-item">
                        <span>Чем мы занимаемся:</span>
                        <p>
                            Наша компания специализируется на создании и реализации решений, которые помогают вашему
                            бизнесу двигаться вперед. Мы займемся анализом рынка, разработкой стратегий по увеличению
                            охвата и прибыли, адаптацией продукта для новых целевых аудиторий, а также внедрением
                            эффективных маркетинговых и рекламных кампаний. Наш подход поможет вашему бизнесу расти и
                            успешно конкурировать на новых и существующих рынках.
                        </p>
                    </div>
                    <a href="#form">
                        Получить консультацию
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>