<section class="attr">
    <div class="container">
        <div class="attr-buttons mob">
            <a href="#form">
                Продвигать бизнес
            </a>
            <a href="#form">
                Рассчитать стоимость
            </a>
        </div>
        <div class="attr__body">
            <div class="attr__body-item">
                <span>12 лет</span>
                <p>Успешного опыта в области финансового консультирования.</p>
            </div>
            <div class="attr__body-item">
                <span>1500</span>
                <p>Проконсультированных
                    компаний</p>
            </div>
            <div class="attr__body-item">
                <span>135</span>
                <p>Постоянных клиентов и партнеров, которые ценят наше сотрудничество и доверяют нам</p>
            </div>
        </div>
    </div>
</section>