<section id="graph" class="graph">
    <div class="container">
        <div class="graph__body">
            <h2 class="graph__body-title">
                Схема работы
            </h2>
            <div class="graph__body-block">
                <div class="graph__body-block-attr desk">
                    <div class="line"></div>
                    <div class="graph__body-block-attr-item">
                        <span>01</span>
                    </div>
                    <div class="graph__body-block-attr-item">
                        <span>02</span>
                    </div>
                    <div class="graph__body-block-attr-item">
                        <span>03</span>
                    </div>
                    <div class="graph__body-block-attr-item">
                        <span>04</span>
                    </div>
                    <div class="graph__body-block-attr-item">
                        <span>05</span>
                    </div>
                </div>
                <div class="graph__body-block-items">
                    <div class="graph__body-block-items-item">
                        <div class="graph__body-block-items-item-num mob">
                            <span>01</span>
                        </div>
                        <span>Анализ и исследование</span>
                        <p>
                            На первом этапе мы проводим всесторонний анализ вашего бизнеса и целевого рынка. Исследуем
                            потребности и поведение аудитории, а также изучаем конкурентов и текущие рыночные тренды.
                            Это позволяет нам выявить ключевые точки роста и определить потенциал для расширения.
                        </p>
                    </div>
                    <div class="graph__body-block-items-item">
                        <div class="graph__body-block-items-item-num mob">
                            <span>02</span>
                        </div>
                        <span>Разработка стратегии</span>
                        <p>
                            На основе полученных данных мы создаем индивидуальную стратегию, которая включает в себя
                            рекомендации по вхождению на новые рынки и увеличению вашей целевой аудитории. Определяем
                            ключевые каналы и методы продвижения, которые будут наиболее эффективны для достижения
                            поставленных целей.
                        </p>
                    </div>
                    <div class="graph__body-block-items-item">
                        <div class="graph__body-block-items-item-num mob">
                            <span>03</span>
                        </div>
                        <span>Реализация плана</span>
                        <p>
                            Следующий шаг — внедрение разработанной стратегии. Мы обеспечиваем запуск рекламных
                            кампаний, оптимизируем маркетинговые процессы и налаживаем взаимодействие с новыми рынками.
                            В этот момент начинается активная работа по привлечению новой аудитории и укреплению позиций
                            на рынке.
                        </p>
                    </div>
                    <div class="graph__body-block-items-item">
                        <div class="graph__body-block-items-item-num mob">
                            <span>04</span>
                        </div>
                        <span>Мониторинг и корректировка</span>
                        <p>
                            После запуска мы внимательно отслеживаем результаты и анализируем эффективность предпринятых
                            действий. В случае необходимости оперативно вносим корректировки в стратегию для
                            максимального достижения поставленных целей.
                        </p>
                    </div>
                    <div class="graph__body-block-items-item">
                        <div class="graph__body-block-items-item-num mob">
                            <span>05</span>
                        </div>
                        <span>Отчет и оптимизация</span>
                        <p>
                            Завершающим этапом является подготовка детального отчета о проделанной работе и полученных
                            результатах. Мы также предоставляем рекомендации по дальнейшему развитию и оптимизации
                            стратегии для устойчивого роста и повышения прибыли.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>