<section class="ofline">
    <div class="container">
        <div class="ofline__body">
            <h2 class="ofline__body-title">
                Офлайн-продвижение
            </h2>
            <div class="ofline__body-block">
                <div class="ofline__body-block-items">
                    <div class="ofline__body-block-items-item">
                        <div class="ofline__body-block-items-item-top">
                            <div class="ofline__body-block-items-item-top-text">
                                <img src="../images/dist/of/1.png" alt="">
                                <span>Реклама в СМИ</span>
                            </div>
                            <div class="ofline__body-block-items-item-top-line">
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <p class="ofline__body-block-items-item-desc">
                            Размещение рекламных материалов в печатных изданиях, на радио и телевидении для охвата
                            широкой аудитории и повышения узнаваемости бренда.
                        </p>
                    </div>
                    <div class="ofline__body-block-items-item">
                        <div class="ofline__body-block-items-item-top">
                            <div class="ofline__body-block-items-item-top-text">
                                <img src="../images/dist/of/2.png" alt="">
                                <span>Рекламные материалы</span>
                            </div>
                            <div class="ofline__body-block-items-item-top-line">
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <p class="ofline__body-block-items-item-desc">
                            Создание и распространение брендированных материалов, таких как листовки, брошюры и
                            сувениры, для укрепления имиджа компании и повышения её узнаваемости.
                        </p>
                    </div>
                    <div class="ofline__body-block-items-item">
                        <div class="ofline__body-block-items-item-top">
                            <div class="ofline__body-block-items-item-top-text">
                                <img src="../images/dist/of/3.png" alt="">
                                <span>Наружная реклама</span>
                            </div>
                            <div class="ofline__body-block-items-item-top-line">
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <p class="ofline__body-block-items-item-desc">
                            Разработка и размещение наружной рекламы — билборды, баннеры, вывески — в местах с высоким
                            трафиком для привлечения внимания к вашему бренду.
                        </p>
                    </div>
                    <div class="ofline__body-block-items-item">
                        <div class="ofline__body-block-items-item-top">
                            <div class="ofline__body-block-items-item-top-text">
                                <img src="../images/dist/of/4.png" alt="">
                                <span>Участие в мероприятиях</span>
                            </div>
                            <div class="ofline__body-block-items-item-top-line">
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <p class="ofline__body-block-items-item-desc">
                            Организация и участие в выставках, конференциях и промо-акциях, что позволяет напрямую
                            взаимодействовать с потенциальными клиентами и партнерами.
                        </p>
                    </div>
                </div>
                <img src="../images/dist/on.png" alt="">
            </div>
        </div>
    </div>
</section>