<section class="online">
    <div class="container">
        <div class="online__body">
            <h2 class="online__body-title">
                Онлайн-продвижение
            </h2>
            <div class="online__body-block">
                <img src="../images/dist/of.png" alt="">
                <div class="online__body-block-items">
                    <div class="online__body-block-items-item">
                        <div class="online__body-block-items-item-top">
                            <div class="online__body-block-items-item-top-text">
                                <img src="../images/dist/on/1.png" alt="">
                                <span>Создание и оптимизация веб-сайта</span>
                            </div>
                            <div class="online__body-block-items-item-top-line">
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <p class="online__body-block-items-item-desc">
                            Разработка современного и функционального веб-сайта, который не только привлекает внимание, но и эффективно конвертирует посетителей в клиентов. Оптимизация сайта для улучшения пользовательского опыта и повышения видимости в поисковых системах.
                        </p>
                    </div>
                    <div class="online__body-block-items-item">
                        <div class="online__body-block-items-item-top">
                            <div class="online__body-block-items-item-top-text">
                                <img src="../images/dist/on/2.png" alt="">
                                <span>SMM (Маркетинг в социальных сетях)</span>
                            </div>
                            <div class="online__body-block-items-item-top-line">
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <p class="online__body-block-items-item-desc">
                            Управление вашими аккаунтами в соцсетях, создание контента и взаимодействие с подписчиками для укрепления бренда и увеличения аудитории.
                        </p>
                    </div>
                    <div class="online__body-block-items-item">
                        <div class="online__body-block-items-item-top">
                            <div class="online__body-block-items-item-top-text">
                                <img src="../images/dist/on/3.png" alt="">
                                <span>Таргетированная Реклама</span>
                            </div>
                            <div class="online__body-block-items-item-top-line">
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <p class="online__body-block-items-item-desc">
                            Запуск рекламных кампаний в социальных сетях и на других онлайн-платформах с точным нацеливанием на вашу целевую аудиторию для максимального вовлечения и конверсий.
                        </p>
                    </div>
                    <div class="online__body-block-items-item">
                        <div class="online__body-block-items-item-top">
                            <div class="online__body-block-items-item-top-text">
                                <img src="../images/dist/on/4.png" alt="">
                                <span>SEO и Контент-Маркетинг</span>
                            </div>
                            <div class="online__body-block-items-item-top-line">
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <p class="online__body-block-items-item-desc">
                            Оптимизация сайта для поисковых систем и создание качественного контента для привлечения органического трафика и повышения видимости бренда в интернете.
                        </p>
                    </div>
                    <div class="online__body-block-items-item">
                        <div class="online__body-block-items-item-top">
                            <div class="online__body-block-items-item-top-text">
                                <img src="../images/dist/on/5.png" alt="">
                                <span>Аналитика и оптимизация</span>
                            </div>
                            <div class="online__body-block-items-item-top-line">
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <p class="online__body-block-items-item-desc">
                            Постоянный мониторинг и анализ эффективности онлайн-кампаний с последующей оптимизацией стратегий для достижения максимальных результатов.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>