<section id="adv" class="why">
    <div class="container">
        <div class="why__body">
            <h2 class="why__body-title">
                Почему выбирают нас
            </h2>
            <div class="why__body-block">
                <div class="why__body-block-item">
                    <img src="../images/dist/why/3.png" alt="">
                    <div class="why__body-block-item-text">
                        <span>Экономия на торговой наценке</span>
                        <p>Заказав именно у нас, Вы экономите на бренде, но выигрываете в качестве!</p>
                    </div>
                </div>
                <div class="why__body-block-item">
                    <img src="../images/dist/why/1.png" alt="">
                    <div class="why__body-block-item-text">
                        <span>Консультации профессионала</span>
                        <p>Бесплатная консультация при первых трех заказах у нас!</p>
                    </div>
                </div>
                <div class="why__body-block-item">
                    <img src="../images/dist/why/2.png" alt="">
                    <div class="why__body-block-item-text">
                        <span>Выгодные условия</span>
                        <p>Мы предлагаем выгодные условия сотрудничества, к каждому клиенту подходим индивидуально. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>